.app {
  text-align: center;
  background-color: #d4d4d4;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34;
  color: white;
  padding: 1rem 0;
}

.app-body {
  text-align: left;
  max-width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0, .2);
}

.body-title {
  border-left: 4px solid #282c34;
  padding-left: 8px;
}